.so-widget-sow-features-default-4c66de9bec37 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-size: 20px;
  color: #000000;
}
.so-widget-sow-features-default-4c66de9bec37 .sow-features-list .sow-features-feature .textwidget > p {
  font-size: px;
  
}
.so-widget-sow-features-default-4c66de9bec37 .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-size: 16px;
  
}